// Define variables for your color scheme

// For example:
$red: #f14d3c; // uber- highlight
$blue: #3c93fd;
$yellow: #FFC65A; //warnings
$orange: #E67E22;
$green: #006838; //heading text
$light-green: #bcdfaa; //buttons & highlights
$gray: #191919;
$mid-gray: #414040;//text and outlines
$light-gray: #eae8e8; //background
$white: #f7f6f5;
