<h1 class="text-center my-4">Our Tutors</h1>

<div class="container index-container">
  <div class="row">
    <% @tutors.each do |tutor| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-info">
          <div class="image">
            <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/avatar-3814049_1280.png" class="profile-img"/>
          </div>
          <div class="title">
            <%= link_to "#{tutor.user.first_name} #{tutor.user.last_name}", tutor_path(tutor), class: "tutor-link" %>
          </div>
          <div class="card-details">
            <p><%= "#{tutor.qualification}" %></p>
            <p><%= "#{tutor.key_stage}" %></p>
            <p><%= "#{tutor.price}/ph" %></p>
          </div>
          <div class="rating">
            <p>Rating: 🍎</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
