<div class="title">
  <h1>Tutor List</h1>
</div>

<div>
  <% @tutors.each do |tutor| %>
    <%= link_to "#{tutor.user.first_name} #{tutor.user.last_name}", tutor_path(tutor), class: "tutor-link" %>
  <% end %>
</div>
