<div class="footer">
  <div class="footer-items">
     <i class="fa-brands fa-linkedin-in" style="color: #006838; font-size: 24px;"></i>
    <i class="fa-brands fa-facebook-f" style="color: #006838; font-size: 20px;"></i>
    <i class="fa-brands fa-x-twitter" style="color: #006838; font-size: 24px;"></i>
  </div>
</div>
