<div class="nav">
  <%= link_to root_path do %>
    <%= image_tag "logo.svg", alt: "Rent-a-Mentor", class: "navbar-logo" %>
  <% end %>
  <div class="nav-right">
    <i class="fa-solid fa-user" style="color: #006838; font-size: 24px;"></i>
  </div>
</div>
