<h1>Welcome to Rent-a-Mentor</h1>
<p>Find your ideal tutor to maximise your learning journey</p>


<%= link_to tutors_index_path, class: "btn btn-secondary" do %>
      <i class="fa-solid fa-arrow-right"></i> View tutors
    <% end %>


<div class="login-signup">
  <%= link_to "Login", new_user_session_path, class: "btn btn-primary"%>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary"%>
</div>
