// Graphical variables (Configs for colors, fonts, etc.)
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/tutor-profile";
@import "components/booking-form";
@import "pages/index";
@import "pages/navbar";
@import "pages/footer";

// Other components
.apple {
  display: inline-block;
  font-size: 20px;
  margin-right: 5px;

  &.filled {
    opacity: 1; /* Fully visible */
  }

  &.empty {
    opacity: 0.3; /* Semi-transparent */
  }
}
